*{
    margin: 0px;
    padding: 0px;
}
 .main{
    height: 670px;
    width: 100%;
    background-color: #1c66de;
    color: white;
 }
 .main_child{
    height: 10%;
    width: 100%;
    /* background-color: rgb(196, 89, 112); */
 }
 .box1{
    height: 100%;
    width: 20%;
    /* background-color: red; */
    float: left;
    padding: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
 }
 .box2{
    height: 100%;
    width: 60%;
    /* background-color: yellow; */
    float: left;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    box-sizing: border-box;
 }
 .box3{
    height: 100%;
    width: 20%;
    /* background-color: aqua; */
    float: left;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-sizing: border-box;
 }
 .img_flag{
    float: left;
    margin-top: 24px;
    margin-left: 10px;
 }
 .box1 p{
    font-size: 14px;
    margin-top: 0px;
    margin-left: 2px;
 }
 .box1 p i{
    margin-right: 4px;
 }
 .email{
    height: 100%;
    width: 50%;
    float: left;
    /* background-color: green; */

 }
 .login{
    height: 100%;
    width: 50%;
    float: left;
    /* background-color: rgb(56, 90, 110); */
 }
 .email p{
    margin-top: 23px;
    margin-left: 10px;
 }
 .email p i{
    margin-right: 8px;
 }
 .login p{
    margin-top: 23px;
    margin-left: 290px;

 }
 .box3 select{
    height: 27px;
    width: 68px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    color: white;
 }
 .menu{
    height: 15%;
    width: 100%;
    /* background-color: rgb(230, 122, 122); */
 }
 .hami{
    height: 100%;
    width: 30%;
    /* background-color: rgb(10, 240, 152); */
    float: left;
 }
 .hami p{
    font-size: 40px;
    text-align: center;
   padding: 25px;
   box-sizing: border-box;
 }
 .menu_bar{
    height: 100%;
    width: 70%;
    /* background-color: rgb(75, 247, 23); */
    float: left;
 }
 .menu_bar button{
    color: white;
 }
 .menu_bar button i{
    margin-right: 8px;
 }
 .menu1{
    float: left;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
 }
 .menu button{
    height: 36px;
    width: 115px;
    float: left;
    border-radius: 20px;
    margin-top: 32px;
    margin-left: 30px;
    background-color: transparent;
    border: 2px solid white;
 }
 .main_child1{
    height: 65%;
    width: 100%;
    /* background-color: rgb(57, 184, 206); */
 }
 .child1{
    height: 100%;
    width: 50%;
    /* background-color: rgb(115, 146, 66); */
    float: left;
    padding: 30px;
    box-sizing: border-box;
 }
 .child2{
    height: 100%;
    width: 50%;
    /* background-color: rgb(202, 30, 38); */
    float: left;
 }
 .child1 h1{
    font-size: 50px;
 }
 .child1 h2{
    font-size: 30px;
    margin-top: 30px;
 }
 .child1 p{
    font-size: 26px;
    margin-top: 15px;
 }
 .child1 button{
    height: 50px;
    width: 140px;
    background-color: white;
    border-radius: 30px;
    margin-top: 70px;
    color: blue;
 }
 .child2{
    padding: 40px;
    box-sizing: border-box;
 }
 .img1{
    height: 450px;
    width: 450px;
    /* background-color: rgb(27, 41, 22); */
 }
 .img1 img{
    height: 100%;
    width: 100%;

 }

 .main_child2{
    height: 10%;
    width: 100%;
    /* background-color: black; */
 }
 .main_child2 img{
    height: 100%;
    width: 100%;

 }

  
 .find-domain-section{
   /* background-color: gray; */
   height: 360px;
   width: 100%;
   padding-top: 90px;
   padding-bottom: 70px;
   box-sizing: border-box;
}       
.domain-container{
   height: 100%;
   width: 80%;
   /* background-color: blue; */
   margin-left: 10%;
   margin-right: 10%;
}     
.domain-text{
   width: 38%;
   height: 100%;
   /* background-color: aqua; */
   padding: 0px;
   float: left;
}  
.domain-text h1{
   font-size: 50px;
   text-transform: capitalize;
   font-weight: 500;
   line-height: 60px;
}
.domain-text h6{
   font-size: 18px;
   font-weight: 600;
   margin-top: 15px;
   letter-spacing: 1px;
}
.domain-contain{
   width: 62%;
   height: 100%;
   /* background-color: sienna; */
   float: left;
   padding: 10px;
   box-sizing: border-box;
}    
.domain-inputbox{
   /* background-color: green; */
   height:30%;
   width: 100%;
   /* border: 1px solid; */
   border-radius: 30px;
   box-shadow: 0px 0px 16px 3px #c9bfbf;

} 
.input-box {
   height: 100%;
   width: 60%;
   float: left;
   /* background-color: burlywood; */
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   border-right: 1px solid;
}
.input-com-box{
   height: 100%;
   width: 10%;
   /* background-color: white; */
   float: left;
   
}
.input-btn{
   /* background-color: yellow; */
   height: 100%;
   width: 29%;
   float: left;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   }
   .input-box input{
       height: 100%;
       width: 100%;
       padding: 20px;
       font-size: 17px;
       border-top-left-radius: 30px;
       border-bottom-left-radius: 30px;
       border: none;
       box-sizing: border-box;
   }
   .input-com-box{
       text-align: center;
       padding: 0px 2px;
       font-size: 18px;
       font-weight: 500;
       margin-top: 20px;
   }
   .input-btn button{
       height: 100%;
       width: 100%;
       font-size: 16px;
       border-top-right-radius: 30px;
       border-bottom-right-radius: 30px;
       border: none;
       background-color: #1c66de;
       color: white;
       font-weight: 600;
       cursor: pointer;
   }
   .input-btn button:hover{
       background-color: grey;
   }
   .domain-infobox{
       height: 30%;
       width: 100%;
       margin-top: 30px;
       
       /* background-color: maroon; */
   }

   .feature-section{
      height: 680px;
      width: 100%;
      /* background-color:#e8f1f8; */
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;    
  }
  
  .feature-container{
   width: 80%;
   height: 100%;
   /* background-color: rgb(175, 175, 66); */
   margin-left: 10%;
   margin-right: 10%;
}

.feature-text{
   /* background-color:aqua; */
   height: 25%;
   width: 100%;
   margin-bottom: 40px;
}
.feature-text h2{
   text-align: center;
   font-size: 60px;
   font-weight: 500;
   margin-bottom: 20px;
}
.feature-text p{
   text-align: center;
   font-size: 19px;
   letter-spacing: 1px;
}
.feature-box{
  height: 75%;
  width: 100%;
  /* background-color: rgb(153, 123, 123); */
}

.box{
   /* calculation of 1% means kiti percentage */
   /* background-color: bisque; */
 height: 44%;
 width: 30%;
 float: left;
 margin-left: 30px;
 margin-top: 15px;
}
.feature-icon{
   /* background-color: darkviolet; */
   height: 100%;
   width: 16%;
   float: left;
   padding: 5px;
   box-sizing: border-box;
} 
.feature-icon i{
   color: blue;
   font-size: 30px;
}
.feature-contain{
   /* background-color: fuchsia; */
   height: 100%;
   width: 80%;
   float: left;
   padding: 0px;
   font-size: 20px;
}
h6{
   font-size: 25px;
}
.hosting-plan-section{
   height: 850px;
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
   /* background-color: red; */

}    
.hosting-plan-container{
   height: 100%;
   width: 80%;
   margin: 0% 10% 0% 10%;
   /* background-color: bisque; */
}   
.hosting-plan-heading{
   height: 20%;
   width: 100%;
   text-align: center;
   padding: 10px;
   box-sizing: border-box;
   /* background-color: aqua; */
}  
.hosting-plan-heading h2{
   font-size: 50px;
   margin-bottom: 15px;
   font-weight: 500;
}
.hosting-plan-heading p{
   font-size: 20px;
   margin-bottom: 40px;
}         
.hosting-plan-contain{
   height: 80%;
   width: 100%;
   /* background-color: brown; */
padding-top: 30px;
padding-bottom: 30px;
}

.hosting-plan-box1{
   height: 100%;
   width: 30%;
   /* background-color: khaki; */
   float: left;
   padding: 40px;
   margin-left: 2%;
   border-radius: 5px;
   box-sizing: border-box;
   box-shadow: 0px 15px 21px 9px #dcd3d3
}

.hosting-plan-box1 h2{
   font-size: 30px;
   text-transform: capitalize;
   font-weight: 500;
   text-align: center;
}
.hosting-plan-box1 h4{
   font-size: 60px;
   text-align: center;
   color: #1c66de;
}
.hosting-plan-box1 h4 span{
   font-size: 25px;
 
}
.hosting-plan-box1 h6{
   margin-bottom: 20px;
   font-size: 18px;
   font-weight: 500;
   text-align: center;
}
.hosting-plan-box1 button{
  height: 10%;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  background-color: #1c66de;
  color:#e8f1f8;
  margin-bottom: 25px;

}
.hosting-plan-box1 button:hover{
   background-color: white;
   color: #1c66de;
}
.hosting-plan-box1 p{
   margin-bottom: 20px;
   font-size: 18px;
   margin-left: 5px;
}
.benefits i{
  font-size: 16px;
  color: #1c66de;
  margin-right: 5px;

}
.hosting-plan-box1 a{
   text-align: center;
   font-size: 18px;
   margin-left: 50px;
   color: gray;
}

/* discount section */

.domain-discount{
   height: 800px;
   width: 100%;
   background-color: #e8f1f8;
   padding-top: 80px;
   box-sizing: border-box;
}
.domain-discount-container{
height: 80%;
width: 80%;
margin-left: 10%;
margin-right: 10%;
/* background-color: coral; */
}
.support{
   height: 27%;
   width: 100%;
   background-image: url(../staticweb.git.io/images/support-pattern.png);
}
.discount-image{
   height: 80%;
   width: 40%;
   float: left;
   padding: 30px;
   float: left;
}
.discount-image img{
   height: 111%;
   width: 90%;
   float: left;
}
.discount-contain{
   height: 100%;
   width: 50%;
   float: left;
   padding: 20px;
   float: left;
}
.discount-contain h1{
   font-size: 59px;
   font-weight: bold;
   margin-bottom: 25px;
}
.discount-contain p{
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 15px;
   letter-spacing: 1px;
}
.discount-contain p i{
   font-size: 15px;
   color: #1c66de;
   margin-right: 3px;
}
.discount-contain button{
  height: 50px;
  width: 200px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  background-color: #1c66de;
  color: white;
}
.discount-contain button:hover{
   background-color: #ffffff;
   color: #1c66de;
}
.support h1{
   font-size: 35px;
   font-weight: 500;
   text-align: center;
   color: white;
   padding-top: 102px;
   margin-top: 20px;
}

/* service section start */
.service-section{
   height: 600px;
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
   /* background-color: red; */
}
.service-container{
   height: 100%;
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   padding: 20px;
   /* background-color: burlywood; */
}
.service-heading{
   height: 20%;
   width: 100%;
   /* background-color:blue; */
   padding-top: 20px;
   border-bottom: 2px solid gray;
}

.service-heading h2{
   font-size: 35px;
   font-weight: bold;
   text-align: center;
}
.offer-service{
   height: 80%;
   width: 100%;
   /* background-color: green; */
   padding-top: 20px;
   padding-bottom: 20px;
}
.service-box{
   width: 18%;
   height: 100%;       
   /* background-color: yellow; */
   float: left;
   padding: 30px;
   /* border: 2px solid black; */
   box-sizing: border-box;
}
.service-box-last{
   width: 28%;
   height: 100%;
   /* background-color: yellow; */
   float: left;
   padding: 30px;
   /* border: 2px solid black; */
   box-sizing: border-box;
}
.service-box h3{
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 30px;
}
.service-box p{
   font-size: 21px;
   margin-bottom: 20px;
   letter-spacing: 0.5px;
}
.service-box-last h3{
   font-size: 27px;
   font-weight: 500;
   margin-bottom: 30px;
}
.service-box-last p{
   font-size: 16px;
   margin-bottom: 20px;
   letter-spacing: 0.5px;
}
.mail{
   height: 70px;
   width: 300px;
   /* background-color: mediumspringgreen; */
}
.mail-box{
   height: 50%;
   width: 80%;
   border-bottom-left-radius: 30px;
   border-top-left-radius: 30px;
   background-color: rgb(238, 228, 228);
   align-items: center;
   padding: 8px;
  line-height: 20px;          
  font-size: 30px;
  border: none;
 
  
}
.your_mail{
   border: none;
}

.visit-link{
   /* background-color: aqua; */
   height: 70px;
   width: 100%;
}
.visit-circle{
   background-color: white;
   height: 50%;
   width: 15%;
   float: left;
   margin-right: 2%;
   border-radius: 50%;
   margin-top: 77px;
}
.visit-circle img{
   width: 100%;
   height: 100%;
   border-radius: 50%;
   
}
.fa-brands{
   font-size: 30px;
}

.footer{
   height: 30px;
   width: 100%;
}